.carouselImage {
  border-radius: 50%;
  padding: 1%;
  box-shadow: rgba(82, 76, 76, 0.3) 10px 19px 38px,
    rgba(54, 48, 48, 0.22) 0px 15px 12px;
}
.eventsDiv {
  padding: 5% 3% 8%;
  background-color: #232222;
  color: #e7b639;
}
.eventsHeading {
  font-size: 2.4rem;
  font-weight: bold;
  color: #e7b639;
}
.eventsDiv hr {
  background-color: #e8b841;
  opacity: unset;
  margin-bottom: 3%;
  width: 20%;
  border-width: 0;
  height: 0.6rem;
}
.carouselItem {
  padding: 10% 7%;
  border-radius: 0.5rem;
  background-color: #111010;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.152) 0px 15px 12px;
}

.eventHeading {
  font-size: 4.5rem;
  font-family: fantasy;
  margin-bottom: 5%;
}

.eventInfo {
  font-size: 1.75rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
